@import '../../styles/global.scss';

.menu-title {
    font-size: $font-size-medium;
}

.robot-icon {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}