.container-notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
  
  .img-fluid {
    max-width: 100%;
  }
  
  .btn-primary-nofound {
    margin-top: 20px;
  }